<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<% if @total_amount %>
  <p>
    <strong>Total spent:</strong>
    $ <%= @total_amount %>
  </p>
<% end %>

<% if @entries.empty? %>
  <p>No transactions yet</p>
<% else%>
  <table id="entries" class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Categories</th>
      </tr>
    </thead>
    <tbody>
    <% @entries.each do |entry| %>
      <tr id="<%= dom_id entry %>">
        <%= render partial: 'entry', locals: { entry: entry } %>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if params[:category_id].present? %>
  <%= link_to "Add a new transaction entry", new_category_entry_path(params[:category_id]), class:'btn btn-success' %>
<% else %>
  <%= link_to "Add a new transaction entry", new_entry_path, class:'btn btn-success' %>
<% end %>