<p style="color: green"><%= notice %></p>

<h1>Transactions</h1>

<% if @total_amount %>
  <p>
    <strong>Total spent:</strong>
    <%= @total_amount %>
  </p>
<% end %>

<div id="entries">
  <% @entries.each do |entry| %>
    <%= render entry %>
    <p>
      <%= link_to "Show this entry", entry %>
    </p>
  <% end %>
</div>

<% if params[:category_id].present? %>
  <%= link_to "Add a new transaction entry", new_category_entry_path(params[:category_id]), class:'btn btn-primary' %>
<% else %>
  <%= link_to "Add a new transaction entry", new_entry_path, class:'btn btn-primary' %>
<% end %>