<div id="<%= dom_id category %>" class='d-flex'>
  <div class='fs-1 d-flex align-items-center justify-content-center'%>
    <%= category.icon %>
  </div>
  <div class='ms-4 text-secondary'>
    <div class='d-flex category-name'>
      <strong class='me-1'>Name:</strong>
      <p><%= category.name %></p>
    </div>
    
    <div class='d-flex'>
      <strong class='me-1'>Entries:</strong>
      <% if entries.any? %>
        <% entries.each do |entry| %>
          <%= link_to entry.name, entry, class:'me-1' %>
        <% end %>
      <% else %>
        <p class='me-1'>None yet, </p>
        <%= link_to "add a transaction?", new_entry_path %>
      <% end %>
    </div>

    <div class='d-flex'>
      <strong class='me-1'>Total spent</strong>
      <p>$<%= entries.sum(:amount) %></p>
    </div>
  </div>

</div>
