<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="categories">
  <% if @categories.empty? %>
    <p>No categories yet</p>
  <% else %>
    <% @categories.each do |category| %>
      <div class='border rounded bg-white p-4 mb-4'>
        <%= render 'category', category: category %>
        <div class='category-actions'>
          <%= link_to "Show this category", category_path(category) %> |
          <%= link_to "Show all transactions", category_entries_path(category) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "Add new category", new_category_path, class:'btn btn-primary' %>
