<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="/">Budget</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <%= link_to "Entries", entries_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Categories", categories_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, 'data-turbo-method': :delete , class: "nav-link" %>
              <% else %>
                <%= link_to "Sign in", new_user_session_path , class: "nav-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class='container'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <div>
    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
